html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    background: #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

.slideFrame {
    animation: slide 0.4s forwards;
    pointer-events: all;
}

.slideScroll {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
}

.highlight {
    animation: highlight 0.5s forwards;
}

.fixedOverlay {
    position: absolute;
    pointer-events: none;
}

    .fixedOverlay .hotspot {
        pointer-events: all;
    }

.hotspot {
    cursor: pointer;
}


.fromright {
    transform: translate(100%,0%);
}

.fromleft {
    transform: translate(-100%,0%);
}

.fromtop {
    transform: translate(0%,-100%);
}

.frombottom {
    transform: translate(0%,100%);
}

.hide {
    animation: hide 0.4s forwards;
}

.restore {
    animation: hide 0.4s backwards;
}

.hidden {
    display: none;
}

.toright {
    animation: toright 0.4s forwards;
}

.toleft {
    animation: toleft 0.4s forwards;
}

.totop {
    animation: totop 0.4s forwards;
}

.tobottom {
    animation: tobottom 0.4s forwards;
}

@keyframes highlight {
    70% {
        background: rgba(64,198,254,1);
        fill: rgba(64,198,254,1);
        opacity: 0.5;
    }
}

@keyframes slide {
    100% {
        transform: translate(0%,0%);
    }
}

@keyframes hide {
    0% {
        transform: translate(0%,0%);
    }

    99.999% {
        transform: translate(0%,0%);
    }

    100% {
        transform: scale(0,0) translate(0%,0%);
    }
}

@keyframes toleft {
    99.999% {
        transform: translate(-100%,0%);
    }

    100% {
        transform: scale(0,0) translate(-100%,0%);
    }
}

@keyframes toright {
    99.999% {
        transform: translate(100%,0%);
    }

    100% {
        transform: scale(0,0) translate(100%,0%);
    }
}

@keyframes totop {
    99.999% {
        transform: translate(0%,-100%);
    }

    100% {
        transform: scale(0,0) translate(0%,-100%);
    }
}

@keyframes tobottom {
    99.999% {
        transform: translate(0%,100%);
    }

    100% {
        transform: scale(0,0) translate(0%,100%);
    }
}
